//- Login Form
//- MEAN Boilerplate by @Jmlevick <http://jmlevick.me>
//- License: Coffeeware <https://github.com/Jmlevick/coffeeware-license>

form(action='/login', method='post')
    label Username:
    input.form-control(type='text', name='username')
    br
    label Password:
    input.form-control(type='password', name='password')
    br
    input.btn.btn-md.btn-primary.form-control(type='submit', value='Log in')
