# Ignore images on the root (Logos & stuff)
/*.jpg
/*.jpeg
/*.png

wikipedia2mongodb/

#Ignore NPM's debug log
npm-debug.log

# Commonly ignored folders
node_modules
public/bower/bower_components

Gemfile.lock
build/config.gypi
