extends layout

block content
	div(ng-controller="exampleCtrl")
		div.row
			div.col-xs-12.common-block
				h2 BigDoc disease diagnosis
				//h4 Bigdoc is a small real-time app that diagnoses diseases based on signs and symptoms. With this small program you can diagnose... Read my blog post explaining how it works at... Bear mind that this symptom diagnoser is highly experimental, do *never* use this to self- medicate and/or avoid visiting a real doctor. By using this app you agree that...
		br
		div.row
			div.col-xs-3
				div.row.text-center
					div.col-xs-4.nopadding
						a Common cold
						//i.fa.fa-home
					div.col-xs-4.nopadding
						a Diabetes
					div.col-xs-4.nopadding
						a GERD
				textarea(ng-model="inputCh")#symptoms.margin-top-10
				h4 Based on your input, here are a list of some relevant signs and symptoms:
				pre
					filter(id='filtered-symptoms')
				//h4 Bigdoc is now searching for these information on several thousand articles from the internet:
				//	div
				//		h1 screen
			div.col-xs-9
				h4 As you write, here are the names of the diseases that match your input:
					div(class="panel panel-default" style='min-width: 800px;')
						div.panel-body
							pre(style='display: {{jsonDisplay}}')#json
								{{resultJSON}}
							div#vis(style='min-width: 800px; display: {{cloudDisplay}}')
							form#form
								p(style='position: absolute; right: 0px; top: 0px; display: none;')#status 5/5
								//div
								//	textarea#sympt [{"key":"abc","value":3},{"key":"cde","value":2},{"key":"zxc","value":1}]
								
						div.panel-footer
							button(type="button" class="btn btn-default btn-xs right" ng-click="switchData()")
								span {{switchLabel}}
							br
							div
								p
									label Spiral:
									label(for='archimedean')
										input(name="spiral" id="archimedean" value="archimedean" checked="checked" type="radio")
										Archimedean
									label(for='rectangular')
										input(name="spiral" id="rectangular" value="rectangular" type="radio")
										Rectangular
								p
									label Scale:
									label(for='scale-log')
										input(name="scale" id="scale-log" value="log" checked="checked" type="radio")
										log n
									label(for='scale-sqrt')
										input(name="scale" id="scale-sqrt" value="sqrt" type="radio")
										√n
									label(for='scale-linear')
										input(name="scale" id="scale-linear" value="linear" type="radio")
										n
								p
									label Font:
										input(id="font" value="Impact" type="text")
								p
									label(for='max') Number of words:
										input(id="max" value="250" min="1" type="number")
					h4 There are 80% chances that the described symptoms are related to:
						h1 disease

