extends layout

block content
	div.col-xs-12.col-md-9.col-md-offset-1.mean-div
		h2 BigDoc disease diagnosis
		br
		h4 Write down your symptoms like if you were speaking to a real doctor
		textarea(id='symptoms')
		textarea(id='filtered-symptoms')
		//Replace for a CSS rule
		br
		br
		div
			p {a:b b:c}
			pre #{response}

script(src='/js/jquery.js')
script(src='/js/custom.js')
