//wikipedia-symptoms disease diagnosis

doctype
html(ng-app='bigdoc-app', lang='en-US')
head
	meta(charset='UTF-8')
	title Wordclouds, wikipedia and diseases
	meta(name='description', content='Lorem Ipsum Dolor sit amet')
	meta(name='keywords', content='foo, bar, baz')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	//if lt IE 9
		script(src='/bower/bower_components/html5shiv/dist/html5shiv.min.js')
		script(src='/bower/bower_components/respond/dest/respond.min.js')
	link(rel='shortcut icon', href='/favicon.ico')
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/bootstrap/css/bootstrap-slider.min.css')
	link(rel='stylesheet', href='/plugins/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/css/bigdoc.css')
	script(src='/js/jquery.min.js')
	script(src='/js/underscore.js')
	
	body
		div.container
			div.row
				div.col-sm-12.col-md-12.col-lg-3
					h3.text-center <strong>wikipedia-symptoms</strong> disease diagnosis
					h5 This is a simple <strong>word-count</strong> algorith applied to disease diagnosis. Bear mind that this is highly experimental, do <strong>not</strong> use this to self-medicate!
					h5 Write your symptoms here as if you were talking to a doctor:
					div.form-group
						textarea#symptoms.form-control.margin-top-10(placeholder="Example for 'hyperthyroidism': I have a very high pulse rate and high temperature.")
					//-
						h5 Or click to see an example:
							div.row.text-center
								div.col-lg-4.nopadding
									a Common cold
								div.col-lg-4.nopadding
									a Diabetes
								div.col-lg-4.nopadding
									a GERD
					h5 Parsed signs and symptoms:
					pre
						filter(id='filtered-symptoms')
					p Maximum number of results:
						input#max(value="25" min="1" type="number")
				
					p
						input#ex1(data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" style='display: none;')
					div#progressBar
					h5 Related article: <a href="http://adelriosantiago.com/gitblog/eng/wikipedia-healthcare">Wikipedia, wordclouds and MongoDB to diagnose diseases
				
				div.col-sm-12.col-md-12.col-lg-9
					div(class="panel panel-default margin-top-10" style='min-width: 800px;')
						div.panel-heading
							p(style='display: none;')#status 0/0
							span Top possible diseases shown in red
							button#dataSwitch(class="btn btn-default btn-xs right" type="button")
								span
									p.label Switch to JSON
							br
						div.panel-body
							pre#json(style="display: none;")
								//JSON will appear here
							div#wordcloud(style='min-width: 800px;')
								//Wordcloud will appear here
						div.panel-footer(style='display: none;')
							div
								p
									label Spiral:
									label(for='archimedean')
										input#archimedean(name="spiral" value="archimedean" checked="checked" type="radio")
										Archimedean
									label(for='rectangular')
										input#rectangular(name="spiral" value="rectangular" type="radio")
										Rectangular
								p
									label Scale:
									label(for='scale-log')
										input#scale-log(name="scale" value="log" checked="checked" type="radio")
										log n
									label(for='scale-sqrt')
										input#scale-sqrt(name="scale" value="sqrt" type="radio")
										√n
									label(for='scale-linear')
										input#scale-linear(name="scale" value="linear" type="radio")
										n
								p
									label Font:
										input#font(value="Impact" type="text")
	
	script(src='/js/d3.min.js')
	script(src='/js/d3.wordcloud.js')
	script(src='/js/bigdoc.js')
	script(src='/plugins/progressbar.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(src='/bootstrap/js/bootstrap-slider.min.js')
